<abp-page [title]="'::Fields' | abpLocalization">
  <abp-page-toolbar-container class="col">
    <div class="text-lg-end pt-2">
      <button
        *abpPermission="'HMI.Fields.Create'"
        class="btn btn-primary btn-sm"
        type="button"
        (click)="create()"
      >
        <i class="fa fa-plus me-1" aria-hidden="true"></i>
        {{ '::NewField' | abpLocalization }}
      </button>
    </div>
  </abp-page-toolbar-container>

  <abp-advanced-entity-filters localizationSourceName="" [list]="list">
    <abp-advanced-entity-filters-form>
      <form #filterForm (keyup.enter)="list.get()">
        <div class="row">
          <div class="col-12 col-sm-auto">
            <div class="mb-3">
              <label class="form-label" for="nameFilter">
                {{ '::Name' | abpLocalization }}
              </label>

              <input
                id="nameFilter"
                class="form-control"
                [(ngModel)]="filters.name"
                [ngModelOptions]="{ standalone: true }"
              />
            </div>
          </div>
          <div class="col-12 col-sm-auto">
            <div class="mb-3">
              <label class="form-label" for="minMinLenght">
                {{ '::MinMinLenght' | abpLocalization }}
              </label>

              <input
                id="minMinLenght"
                type="number"
                class="form-control"
                [(ngModel)]="filters.minLenghtMin"
                [ngModelOptions]="{ standalone: true }"
              />
            </div>
          </div>

          <div class="col-12 col-sm-auto">
            <div class="mb-3">
              <label class="form-label" for="maxMinLenght">
                {{ '::MaxMinLenght' | abpLocalization }}
              </label>

              <input
                id="maxMinLenght"
                type="number"
                class="form-control"
                [(ngModel)]="filters.minLenghtMax"
                [ngModelOptions]="{ standalone: true }"
              />
            </div>
          </div>
          <div class="col-12 col-sm-auto">
            <div class="mb-3">
              <label class="form-label" for="isNullableFilter">
                {{ '::IsNullable' | abpLocalization }}
              </label>

              <select
                name="isNullable"
                id="isNullableFilter"
                class="form-select form-control"
                [(ngModel)]="filters.isNullable"
                [ngModelOptions]="{ standalone: true }"
                (change)="list.get()"
              >
                <option [ngValue]=""></option>
                <option [ngValue]="true">{{ 'AbpUi::Yes' | abpLocalization }}</option>
                <option [ngValue]="false">{{ 'AbpUi::No' | abpLocalization }}</option>
              </select>
            </div>
          </div>
          <div class="col-12 col-sm-auto">
            <div class="mb-3">
              <label class="form-label" for="isEnableableFilter">
                {{ '::IsEnableable' | abpLocalization }}
              </label>

              <select
                name="isEnableable"
                id="isEnableableFilter"
                class="form-select form-control"
                [(ngModel)]="filters.isEnableable"
                [ngModelOptions]="{ standalone: true }"
                (change)="list.get()"
              >
                <option [ngValue]=""></option>
                <option [ngValue]="true">{{ 'AbpUi::Yes' | abpLocalization }}</option>
                <option [ngValue]="false">{{ 'AbpUi::No' | abpLocalization }}</option>
              </select>
            </div>
          </div>
          <div class="col-12 col-sm-auto">
            <div class="mb-3">
              <label class="form-label" for="minMaxLenght">
                {{ '::MinMaxLenght' | abpLocalization }}
              </label>

              <input
                id="minMaxLenght"
                type="number"
                class="form-control"
                [(ngModel)]="filters.maxLenghtMin"
                [ngModelOptions]="{ standalone: true }"
              />
            </div>
          </div>

          <div class="col-12 col-sm-auto">
            <div class="mb-3">
              <label class="form-label" for="maxMaxLenght">
                {{ '::MaxMaxLenght' | abpLocalization }}
              </label>

              <input
                id="maxMaxLenght"
                type="number"
                class="form-control"
                [(ngModel)]="filters.maxLenghtMax"
                [ngModelOptions]="{ standalone: true }"
              />
            </div>
          </div>
          <div class="col-12 col-sm-auto">
            <div class="mb-3">
              <label class="form-label" for="defaultValueFilter">
                {{ '::DefaultValue' | abpLocalization }}
              </label>

              <input
                id="defaultValueFilter"
                class="form-control"
                [(ngModel)]="filters.defaultValue"
                [ngModelOptions]="{ standalone: true }"
              />
            </div>
          </div>
          <div class="col-12 col-sm-auto">
            <div class="mb-3">
              <label class="form-label" for="minRenderingOrder">
                {{ '::MinRenderingOrder' | abpLocalization }}
              </label>

              <input
                id="minRenderingOrder"
                type="number"
                class="form-control"
                [(ngModel)]="filters.renderingOrderMin"
                [ngModelOptions]="{ standalone: true }"
              />
            </div>
          </div>

          <div class="col-12 col-sm-auto">
            <div class="mb-3">
              <label class="form-label" for="maxRenderingOrder">
                {{ '::MaxRenderingOrder' | abpLocalization }}
              </label>

              <input
                id="maxRenderingOrder"
                type="number"
                class="form-control"
                [(ngModel)]="filters.renderingOrderMax"
                [ngModelOptions]="{ standalone: true }"
              />
            </div>
          </div>
          <div class="col-12 col-sm-auto">
            <div class="mb-3">
              <label class="form-label" for="cssClassFilter">
                {{ '::CssClass' | abpLocalization }}
              </label>

              <input
                id="cssClassFilter"
                class="form-control"
                [(ngModel)]="filters.cssClass"
                [ngModelOptions]="{ standalone: true }"
              />
            </div>
          </div>
          <div class="col-12 col-sm-auto">
            <div class="mb-3">
              <label class="form-label" for="labelDescriptionFilter">
                {{ '::LabelDescription' | abpLocalization }}
              </label>

              <input
                id="labelDescriptionFilter"
                class="form-control"
                [(ngModel)]="filters.labelDescription"
                [ngModelOptions]="{ standalone: true }"
              />
            </div>
          </div>
          <div class="col-12 col-sm-auto">
            <div class="mb-3">
              <label class="form-label" for="hasLookupFilter">
                {{ '::HasLookup' | abpLocalization }}
              </label>

              <select
                name="hasLookup"
                id="hasLookupFilter"
                class="form-select form-control"
                [(ngModel)]="filters.hasLookup"
                [ngModelOptions]="{ standalone: true }"
                (change)="list.get()"
              >
                <option [ngValue]=""></option>
                <option [ngValue]="true">{{ 'AbpUi::Yes' | abpLocalization }}</option>
                <option [ngValue]="false">{{ 'AbpUi::No' | abpLocalization }}</option>
              </select>
            </div>
          </div>
          <div class="col-12 col-sm-auto">
            <div class="mb-3">
              <label class="form-label" for="minVisionServerParameterID">
                {{ '::MinVisionServerParameterID' | abpLocalization }}
              </label>

              <input
                id="minVisionServerParameterID"
                type="number"
                class="form-control"
                [(ngModel)]="filters.visionServerParameterIDMin"
                [ngModelOptions]="{ standalone: true }"
              />
            </div>
          </div>

          <div class="col-12 col-sm-auto">
            <div class="mb-3">
              <label class="form-label" for="maxVisionServerParameterID">
                {{ '::MaxVisionServerParameterID' | abpLocalization }}
              </label>

              <!-- <input
                id="maxVisionServerParameterID"
                type="number"
                class="form-control"
                [(ngModel)]="filters.visionServerParameterIDMax"
                [ngModelOptions]="{ standalone: true }"
              /> -->
              <abp-lookup-input
                cid="maxVisionServerParameterID"
                displayNameProp="machineCode"
                lookupNameProp="displayName"
                [getFn]="service.getMachineParameterLookup"
                [(ngModel)]="filters.visionServerParameterIDMax"
                [ngModelOptions]="{ standalone: true }"
              ></abp-lookup-input>

            </div>
          </div>
          <div class="col-12 col-sm-auto">
            <div class="mb-3">
              <label class="form-label" for="fieldTypeIdFilter">
                {{ '::FieldType' | abpLocalization }}
              </label>
              <abp-lookup-select
                cid="fieldTypeIdFilter"
                [getFn]="service.getFieldTypeLookup"
                [(ngModel)]="filters.fieldTypeId"
                [ngModelOptions]="{ standalone: true }"
              ></abp-lookup-select>
            </div>
          </div>
          <div class="col-12 col-sm-auto">
            <div class="mb-3">
              <label class="form-label" for="toolGroupIdFilter">
                {{ '::ToolGroup' | abpLocalization }}
              </label>
              <abp-lookup-input
                cid="toolGroupIdFilter"
                displayNameProp="groupDescription"
                lookupNameProp="displayName"
                [getFn]="service.getToolGroupLookup"
                [(ngModel)]="filters.toolGroupId"
                [ngModelOptions]="{ standalone: true }"
              ></abp-lookup-input>
            </div>
          </div>

          <div class="col-12 col-sm-auto align-self-end mb-3">
            <div class="row">
              <div class="col-6 col-sm-auto d-grid">
                <button type="button" class="btn btn-outline-primary" (click)="clearFilters()">
                  <span>{{ 'AbpUi::Clear' | abpLocalization }}</span>
                </button>
              </div>
              <div class="col-6 col-sm-auto d-grid">
                <button type="button" class="btn btn-primary" (click)="list.get()">
                  <span>{{ 'AbpUi::Refresh' | abpLocalization }}</span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </abp-advanced-entity-filters-form>
  </abp-advanced-entity-filters>

  <div class="card">
    <div class="card-body">
      <ngx-datatable [rows]="data.items" [count]="data.totalCount" [list]="list" default>
        <ngx-datatable-column
          [name]="'AbpUi::Actions' | abpLocalization"
          [maxWidth]="150"
          [width]="150"
          [sortable]="false"
        >
          <ng-template let-row="row" let-i="rowIndex" ngx-datatable-cell-template>
            <div ngbDropdown container="body" class="d-inline-block">
              <button
                class="btn btn-primary btn-sm dropdown-toggle"
                data-toggle="dropdown"
                aria-haspopup="true"
                ngbDropdownToggle
              >
                <i class="fa fa-cog me-1" aria-hidden="true"></i>
                {{ 'AbpUi::Actions' | abpLocalization }}
              </button>

              <div ngbDropdownMenu>
                <button ngbDropdownItem *abpPermission="'HMI.Fields.Edit'" (click)="update(row)">
                  {{ 'AbpUi::Edit' | abpLocalization }}
                </button>

                <button ngbDropdownItem *abpPermission="'HMI.Fields.Delete'" (click)="delete(row)">
                  {{ 'AbpUi::Delete' | abpLocalization }}
                </button>
              </div>
            </div>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="{{ '::Name' | abpLocalization }}" prop="field.name">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{ row.field.name }}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="{{ '::MinLenght' | abpLocalization }}" prop="field.minLenght">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{ row.field.minLenght }}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="{{ '::IsNullable' | abpLocalization }}" prop="field.isNullable">
          <ng-template let-row="row" ngx-datatable-cell-template>
            <ng-template
              [ngIf]="row.field.isNullable"
              [ngIfThen]="yes"
              [ngIfElse]="no"
            ></ng-template>

            <ng-template #yes>
              <div class="text-success">
                <span [title]="'AbpUi::Yes' | abpLocalization">
                  <i class="fa fa-check" aria-hidden="true"></i>
                </span>
              </div>
            </ng-template>

            <ng-template #no>
              <div class="text-danger">
                <span [title]="'AbpUi::No' | abpLocalization">
                  <i class="fa fa-times" aria-hidden="true"></i>
                </span>
              </div>
            </ng-template>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column
          name="{{ '::IsEnableable' | abpLocalization }}"
          prop="field.isEnableable"
        >
          <ng-template let-row="row" ngx-datatable-cell-template>
            <ng-template
              [ngIf]="row.field.isEnableable"
              [ngIfThen]="yes"
              [ngIfElse]="no"
            ></ng-template>

            <ng-template #yes>
              <div class="text-success">
                <span [title]="'AbpUi::Yes' | abpLocalization">
                  <i class="fa fa-check" aria-hidden="true"></i>
                </span>
              </div>
            </ng-template>

            <ng-template #no>
              <div class="text-danger">
                <span [title]="'AbpUi::No' | abpLocalization">
                  <i class="fa fa-times" aria-hidden="true"></i>
                </span>
              </div>
            </ng-template>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="{{ '::MaxLenght' | abpLocalization }}" prop="field.maxLenght">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{ row.field.maxLenght }}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column
          name="{{ '::DefaultValue' | abpLocalization }}"
          prop="field.defaultValue"
        >
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{ row.field.defaultValue }}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column
          name="{{ '::RenderingOrder' | abpLocalization }}"
          prop="field.renderingOrder"
        >
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{ row.field.renderingOrder }}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="{{ '::CssClass' | abpLocalization }}" prop="field.cssClass">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{ row.field.cssClass }}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column
          name="{{ '::LabelDescription' | abpLocalization }}"
          prop="field.labelDescription"
        >
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{ row.field.labelDescription }}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="{{ '::HasLookup' | abpLocalization }}" prop="field.hasLookup">
          <ng-template let-row="row" ngx-datatable-cell-template>
            <ng-template
              [ngIf]="row.field.hasLookup"
              [ngIfThen]="yes"
              [ngIfElse]="no"
            ></ng-template>

            <ng-template #yes>
              <div class="text-success">
                <span [title]="'AbpUi::Yes' | abpLocalization">
                  <i class="fa fa-check" aria-hidden="true"></i>
                </span>
              </div>
            </ng-template>

            <ng-template #no>
              <div class="text-danger">
                <span [title]="'AbpUi::No' | abpLocalization">
                  <i class="fa fa-times" aria-hidden="true"></i>
                </span>
              </div>
            </ng-template>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column
          name="{{ '::VisionServerParameterID' | abpLocalization }}"
          prop="field.visionServerParameterID"
        >
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{ row.field.visionServerParameterID }}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="{{ '::FieldType' | abpLocalization }}" prop="fieldType.name">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{ row.fieldType?.name }}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column
          name="{{ '::ToolGroup' | abpLocalization }}"
          prop="toolGroup.groupDescription"
        >
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{ row.toolGroup?.groupDescription }}
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
    </div>
  </div>
</abp-page>

<abp-modal [busy]="isModalBusy" [(visible)]="isModalOpen">
  <ng-template #abpHeader>
    <h3>
      {{ (selected ? 'AbpUi::Edit' : '::NewField') | abpLocalization }}
    </h3>
  </ng-template>

  <ng-template #abpBody>
    <form [formGroup]="form" id="field" (ngSubmit)="submitForm()" validateOnSubmit>
      <div class="mt-2 fade-in-top">
        <div class="mb-3">
          <label class="form-label" for="field-name"> {{ '::Name' | abpLocalization }} * </label>

          <input
            id="field-name"
            formControlName="name"
            class="form-control"
            maxlength="255"
            minlength="1"
            autofocus
          />
        </div>
        <div class="mb-3">
          <label class="form-label" for="field-min-lenght">
            {{ '::MinLenght' | abpLocalization }}
          </label>

          <input
            type="number"
            id="field-min-lenght"
            formControlName="minLenght"
            class="form-control"
          />
        </div>
        <div class="form-check mb-3">
          <input
            type="checkbox"
            id="field-is-nullable"
            formControlName="isNullable"
            class="form-check-input"
          />

          <label for="field-is-nullable" class="form-check-label">
            {{ '::IsNullable' | abpLocalization }}
          </label>
        </div>
        <div class="form-check mb-3">
          <input
            type="checkbox"
            id="field-is-enableable"
            formControlName="isEnableable"
            class="form-check-input"
          />

          <label for="field-is-enableable" class="form-check-label">
            {{ '::IsEnableable' | abpLocalization }}
          </label>
        </div>
        <div class="mb-3">
          <label class="form-label" for="field-max-lenght">
            {{ '::MaxLenght' | abpLocalization }}
          </label>

          <input
            type="number"
            id="field-max-lenght"
            formControlName="maxLenght"
            class="form-control"
          />
        </div>
        <div class="mb-3">
          <label class="form-label" for="field-default-value">
            {{ '::DefaultValue' | abpLocalization }}
          </label>

          <input
            id="field-default-value"
            formControlName="defaultValue"
            class="form-control"
            maxlength="255"
          />
        </div>
        <div class="mb-3">
          <label class="form-label" for="field-rendering-order">
            {{ '::RenderingOrder' | abpLocalization }}
          </label>

          <input
            type="number"
            id="field-rendering-order"
            formControlName="renderingOrder"
            class="form-control"
          />
        </div>
        <div class="mb-3">
          <label class="form-label" for="field-css-class">
            {{ '::CssClass' | abpLocalization }}
          </label>

          <input
            id="field-css-class"
            formControlName="cssClass"
            class="form-control"
            maxlength="255"
          />
        </div>
        <div class="mb-3">
          <label class="form-label" for="field-label-description">
            {{ '::LabelDescription' | abpLocalization }} *
          </label>

          <input
            id="field-label-description"
            formControlName="labelDescription"
            class="form-control"
            maxlength="255"
            minlength="1"
          />
        </div>
        <div class="form-check mb-3">
          <input
            type="checkbox"
            id="field-has-lookup"
            formControlName="hasLookup"
            class="form-check-input"
          />

          <label for="field-has-lookup" class="form-check-label">
            {{ '::HasLookup' | abpLocalization }}
          </label>
        </div>
        <!-- <div class="mb-3">
          <label class="form-label" for="field-vision-server-parameter-id">
            {{ '::VisionServerParameterID' | abpLocalization }}
          </label>

          <input
            type="number"
            id="field-vision-server-parameter-id"
            formControlName="visionServerParameterID"
            class="form-control"
          />
          
        </div> -->
        <div class="mb-3">
          <label class="form-label" for="field-vision-server-parameter-id">
            {{ '::VisionServerParameterID' | abpLocalization }}
          </label>
          <abp-lookup-input
            cid="field-vision-server-parameter-id"
            formControlName="visionServerParameterID"
            displayNameProp="machineCode"
            lookupNameProp="displayName"
            [getFn]="service.getMachineParameterLookup"
            [editingData]="selected?.machineParameter"
          ></abp-lookup-input>
        </div>
        <div class="mb-3">
          <label class="form-label" for="field-field-type-id">
            {{ '::FieldType' | abpLocalization }} *
          </label>

          <abp-lookup-select
            cid="field-field-type-id"
            formControlName="fieldTypeId"
            [getFn]="service.getFieldTypeLookup"
          ></abp-lookup-select>
        </div>
        <div class="mb-3">
          <label class="form-label" for="field-tool-group-id">
            {{ '::ToolGroup' | abpLocalization }} *
          </label>
          <abp-lookup-input
            cid="field-tool-group-id"
            formControlName="toolGroupId"
            displayNameProp="groupDescription"
            lookupNameProp="displayName"
            [getFn]="service.getToolGroupLookup"
            [editingData]="selected?.toolGroup"
          ></abp-lookup-input>
        </div>
      </div>
    </form>
  </ng-template>

  <ng-template #abpFooter>
    <button type="button" class="btn btn-secondary" abpClose>
      {{ 'AbpUi::Cancel' | abpLocalization }}
    </button>

    <abp-button iconClass="fa fa-check" buttonType="submit" formName="field">
      {{ 'AbpUi::Save' | abpLocalization }}
    </abp-button>
  </ng-template>
</abp-modal>
